services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: system
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: lbms
    ports:
      - "8000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
