@import './prize_tag.css';

.book-dispatch-title{
    padding: 1em;
    font-size: 2em;
    text-align: center;
}

figcaption{
    text-align: center;
}

.book-preview-container{
    display: grid;
    grid-template-areas: 
    "lp rp rp"
    "bd bd bd"
    "gr gr gr"
    "cmd rcmd rcmd"
    "cmd rcmd rcmd"
    ;
    padding: 1em;
}
.left-panel{
    grid-area: lp;
    padding: 2em;
    figure {
        width: inherit;
        height: inherit;
    }
}

/* Aside */
.right-panel{
    grid-area: rp;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.book-name{
    font-size: xx-large;
    font-weight: 500;
}

.author-name{
    /* font-size: large; */
    font-style: italic;
}

.seller-container{
    margin: 10px;
    padding: 0.1em;
    min-width: 100px;
    min-height: fit-content;
    color: #fff;
    background-color: darkslategray;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: center;
}

.seller-container a:visited{
    color: inherit;
}

.seller-container:hover{
    background-color: darkgoldenrod;
    transition-property:  "background-color";
    transition-duration: 0.3s;
}

.publication-name-span{
    color: darkgreen;
    font-size: larger;
    font-weight: bold;
}

.key-words-list{
    padding: 10px;
    li{
        display: inline;
        list-style: none;
        
        margin: 10px;
        border: 1px solid grey;
        border-radius: 10%;
        padding-left: 10px;
        padding-right: 10px;
        
        background-color: lavender;
        
        font-size: small;
        font-weight: 500;
        text-align: center;
    }
}

.book-prize-container div{
    font-size: xx-large;
}

.limited-stock{
    padding: 20px;
    color: lightcoral;
    text-align: center;
}

.rating-panel{
    align-self: center;
    padding: 1em;
    width: 40%;
}

.cart-context-container{
    text-align: center;
}
.add-to-cart{
    font-size: large;
}

.number-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.cart-count{
    background-color: bisque;
    border-radius: 5px;
    min-width: 100px;
    height: fit-content;
    font-size: larger;
    font-weight: bold;
    flex: 4;
}

.count-change-icon{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 25px;
    height: 25px;

    img{
        width: inherit;
        height: inherit;
    }
}
.count-change-icon:hover{
    cursor: pointer;
    background-color: lightcoral;
}

.proceed-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.proceed-buttons button{
    font-size: large;
}

/* Book Description Table */
.book-description-container{
    grid-area: bd;

}


/* Reviews and comments */
.get-review-container{
    grid-area: gr;
    justify-self: center;
}

.reviews-container{
    grid-area: cmd;
    
}

.dynamic-stars-container{
    width: 300px;
    height: 100px;
}

.comments-textarea {
    width: 100%;        /* Ensure it takes full width */
    min-height: 40px;   /* Set a reasonable minimum height */
    height: fit-content;       /* Allow it to expand */
    overflow: hidden;   /* Hide scrollbar */
    resize: none;       /* Disable manual resizing */
    padding: 8px;       /* Add some padding */
    border: 1px solid #ccc; /* Optional: for styling */
    border-radius: 5px;
    font-size: 16px;    /* Ensure readability */
    text-align: justify;
    font: inherit;
    line-height: 1.4;   /* Improve text spacing */
}
  

/* Recommended Books container */
.books-recommended{
    grid-area: rcmd;

}

.scroll-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book-image-container:hover{
    cursor: pointer;
}