/* .login-outer-container */
.login-outer-container{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

/* Centering the login container */
.login-container {
    width: 350px;
    padding: 40px;
    background: #f9dcdc;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling input fields */
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-label{
    display: block;
}

.input-field-login {
    padding: 12px;
    border: 2px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    background: #fafafa;
    outline: none;
    transition: border-color 0.3s;
}

.input-field-login:focus {
    border-color: #595959;
}

/* Styling buttons */
.login-button {
    width: 100%;
    padding: 10px;
    background: #fc4545;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.login-button:hover {
    background: #af4949;
}

/* Sign-up query */
.signup-query {
    margin-top: 15px;
    font-size: 14px;
    color: #262626;
}
