.orders-list-container{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.order-item{
    display: flex;
    align-items: center;
    margin: 2em;
    padding: 2em;
    border: 3px solid transparent;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 5px 10px 20px grey;
    background-color: lightgreen;
    text-align: center;

    div{
        padding: 0.75em;
        font-size: large;
    }
}

.order-label{
    width: fit-content;
    background-color: lightcyan;
    box-shadow: 5px 10px 20px grey;
    border-radius: 20px;
}

.order-details-value{
    font-weight: bolder;
}


@media screen and (max-width: 600){
    
}