.prize-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    width: 100%;
}

.discount-prize{
    color: green;
    font-weight: 700;
}

.strike-container{
    color: brown;
    font-weight: 500;
    font-size: small;
}

.discount-percent-container{
    min-width: 15px;
    background-color: yellow;
    border: 2px dashed black;
    border-radius: 50%;

    div{
        padding: 5px;
    }
}