h1{
    color: blue;
    text-align: center;
}

.user-page-container{
    display: flex;
}

/* profile-container */
.profile-container{
    display: flex;
    flex-direction: column;
}

.profile-pic-container{
    box-shadow: 0px 0px 20px 5px grey;
    border-radius: 50%;
    margin: 2em 3em;
    width: 120px;
    height: 120px;

    img{
        height: inherit;
        width: inherit;
        border-radius: 50%;
    }
}

.add-profile-pic{
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    margin: 2em 0em;
    width: 30px;
    height: 30px;
    left: 9em;
    top: 9em;

    background-color: lightskyblue;

    img{
        width: inherit;
        height: inherit;
        border-radius: 50%;
    }
}
.add-profile-pic:hover{
    cursor: pointer;
}

.profile-menus div{
    margin: 0.5em;
    padding: 0.2em 0.2em;
    border-radius: 20px;
    text-align: center;
}

.profile-menus div:hover{
    cursor: pointer;
}

.menu-item-buttons{
    border: 3px solid transparent;
    background-color: lightyellow;
    font-size: large;
    font-weight: 500;
}
.menu-item-buttons:hover{
    background-color: rgb(249, 249, 129);
    transition: 0.3s background-color;
}

.HL-menu{
    border-color: black;
    background-color: yellow;
}

/* Content-container */
.content-container{
    width: 80%;
    padding: 1em;
}

.user-description{
    padding: 2em;
  }